{% extends "base.html" %}

{% block main %}
<h1>~ Управление сеансами ~</h1>

<h2>Добавление нового сеанса</h2>
<form action="/admin/add_film" method="post">
    <label for="film_name">Название фильма:</label>
    <input type="text" id="film_name" name="film_name" required><br><br>

    <label for="date">Дата сеанса:</label>
    <input type="date" id="date" name="date" required><br><br>

    <label for="time">Время сеанса:</label>
    <input type="time" id="time" name="time" required><br><br>

    <button type="submit">Добавить сеанс</button>
</form>
{% endblock %}